aiohttp
black
click
colorama
fastapi
isort
matplotlib
mypy
numpy
pandas
pillow
plotly
pyperclip
pytest
pytest-asyncio
pytest-cov
python-dotenv
python-multipart
pydantic
requests
rich
scipy
seaborn
uvicorn
watchdog
websockets
yt-dlp
ffmpeg-python
dash
dash_bootstrap_components