{{ define "main" }}
<article class="article-single">
    <div class="article-header">
        <div class="content-container">
            <div class="article-meta">
                {{ with .Params.commander }}
                <span class="author">{{ . }}</span>
                {{ end }}
                <span class="publish-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                <span class="read-time">{{ .ReadingTime }} min read</span>
            </div>
            <h1>{{ .Title }}</h1>
            {{ with .Description }}
            <h2 class="article-subtitle">{{ . }}</h2>
            {{ end }}
        </div>
    </div>

    <div class="article-body">
        <div class="content-container">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}